.array-container {
    background:black;
    position:absolute;
    left: 0.1px;
    bottom: 0.1px;
    top:0.1px;
    right:0.1px;
  }
  
  .array-bar {
    width: 10px;
    display: inline-block;
    margin: 0 1.5px;
  }